*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}
a, a:visited, button {
  color: inherit;
  overflow: visible;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: #faf9f3;
  overscroll-behavior-y: none;
}
#app {
  position: relative;
  width: 100%;
  height: 100%
}
header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2.5rem 2.5rem 0 2.5rem;
  z-index: 5;
  will-change: transform;
}
header img {
  width: 50px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #faf9f3;;
  display: -webkit-box;;
  display: -ms-flexbox;;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content {
  padding: 0 3.5rem;
  width: 100%;
  max-width: 29.0625rem;
}
.statement {
  margin-bottom: 3.5rem;
}
.statement-button {
  text-align: right;
}
.statement-button button {
  width: 8rem;
}
.statement-divider {
  display: block;
  margin: 0 0 1.25rem 0;
  height: 1px;
  width: 100%;
  background: #000;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

/* AUDIO */
button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
}
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 50%;
  -webkit-transition: opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: opacity 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75)
}
.audio {
  opacity: 0;
  transform: scale(1.2);
  z-index: 1;
}
.audio > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: .375rem;
  height: .375rem;
}
.audio svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pause {
  opacity: 0;
  -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
          transform: translateX(15px);
}

/* LOADING */
#app {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2.5rem 2.5rem;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.loadingtext,
footer p {
  color: #000;
  text-align: center;
}
@media (min-width: 768px) {
  footer {
      padding: 0 5rem 5rem 5rem;
  }
}
.loading .loading-content,
.loading .loadingtext {
  display: block;
}
.loading .content {
  display: none;
}
.loading-content {
  position: relative;
  width: 360px;
  height: 360px;
  display: none;
}
.loading-content div {
  overflow: hidden;
  position: relative;
}
.loading-content > img{
  -webkit-filter: contrast(0);
          filter: contrast(0);
}
.loading-content div {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.loadingtext {
  display: none;
}
.loadingtext span {
  display: inline-block;
  -webkit-animation: loading 1.2s infinite;
          animation: loading 1.2s infinite;
}
.loadingtext span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loadingtext span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loadingtext span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loadingtext span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loadingtext span:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loadingtext span:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes loading {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.explore-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 5.5rem 1rem;
  display: none;
  opacity: 0;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}

.overlay-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem;
  max-width: 600px;
  margin: auto;
  background: #faf9f3;
}
.overlay-content-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
}
.button-close__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  width: 25%;
  height: 1px;
  margin: auto;
  background-color: #000;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center;
}
.button-close__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.button-close__line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.more {
  position: absolute;
  bottom: 1rem;
  width: 9rem;
  line-height: 1.875rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
.celebrate::before,
.more::before {
  border-radius: unset;
}
.celebrate {
  width: 100%;
  opacity: 1;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  padding: 0 2rem;
}
.celebrate span {
  font-size: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#1363DF), color-stop(#FAC72A), to(#F86F03));
  background-image: -o-linear-gradient(left, #1363DF, #FAC72A, #F86F03);
  background-image: linear-gradient(90deg, #1363DF, #FAC72A, #F86F03);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}